/FLIR_ADAS_v2/*
/Data/*
/CameraCalibration/CameraCalibration/*
FLIR_ADAS_v2
Data
CameraCalibration
Combine
DataSet/Scene2/
DataSet/*.jpg
!DataSet/*.ps1
results/Calibration/chessboard_calibration_data
results/Calibration/ExternalParameter_Chessboard